################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/UserMgmEntity/obj
/.vs/UserMgmEntity/v16
/.vs
